<style>
    .nav{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        background-color: #324851;
    }
</style>
<nav class="nav">
    <a href="/">Inicio</a>
    <a href="/images/add">Añadir Imágen</a>
</nav>